.tickets-wrapper{        
    .current-page{          
        height: 49px;
        left: 311px;
        top: 84px;
        background: #FFFFFF;
        border-radius: 7px;
        margin: 1em 0;    
        .title{            
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            letter-spacing: 0.0125em;
            color: #000000;
            padding: 0.3em;
        }
    }
    .header-area {  
        position: relative;
        display: flex;
        justify-content: space-between;      
        padding: 1em 0;    
        .left-area {
            width: 45em;
            .filterBy{
                float: left;
                .filter-dropdown{                    
                    width: 125px;
                    height: 33px;
                    font-weight: bold;
                    background: #EDEDED;
                    border: 1px solid #000000;
                    box-sizing: border-box;
                }
            }
            .filterArea{
                .filter-input{                    
                    width: 209px;
                    height: 33px;
                    background: #FBFAFA;
                    border: 1px solid #000000;
                    box-sizing: border-box;                    
                    margin: 0 0 0 1em;
                }
                .filter-button{                    
                    width: 107px;
                    height: 33px;
                    color: #ffffff;
                    background: #3B3C3E;
                    border: 1px solid #123184;
                    box-sizing: border-box;
                    vertical-align: top;
                }
                .filter-reset{                    
                    width: 130.37px;
                    height: 33px;
                    color: #ffffff;
                    background: #DB4949;
                    border-radius: 7px;                 
                    margin: 0 1em;
                }
            }
        }
        .right-area {
            display: flex;
            width: 10em;
            .action{
                cursor: pointer;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
                letter-spacing: 0.0125em;
                color: #000000;
                padding: 0.2em;
            }
        }
    }
    .table{
        th{
            height: 33px;
            font-size: 18px;
            letter-spacing: 0.0125em;
            color: #FFFCFC;
            background: #737981;
            border: 1px solid #FFFFFF;
            box-sizing: border-box;
        }
        &.table-striped tbody tr:nth-of-type(odd){            
            width: 130px;
            height: 33px;
            background: #DDD1E4;
            border: 1px solid #FFFFFF;
            box-sizing: border-box;
        }
        tr{
            td{  
                font-style: normal;
                font-weight: bold;
                font-size: 13px;
                line-height: 16px;
                letter-spacing: 0.0125em;                
                color: #101010;
                &.id{                    
                    color: #06ACF3;
                }
            }
            .status{
                width: 20px;
                height: 20px;
                border-radius: 50%;
                display: inline-block;
                &.success{
                    background: #66DB49;
                }
                &.warning{
                    background: #FFDA55;
                }
                &.danger{
                    background: #DB4949;
                    &.info{
                        text-align: center;
                        color: #fff;
                    }
                }
            }
        }
    }
}
   