<div class="row">
    <div *ngIf="sidebar" class="sidebar col-sm-2">
      <img class="logo" src="../../../assets/XL_Axiata-Logo.svg">
      <div class="menu">        
          <div class="menu-item active">
              <span>
                  <img class="logo-item" src="../../../assets/allticket.svg">
                  All Ticket
              </span>
          </div>
          <div class="menu-item">
              <span>
                    <img class="logo-item" src="../../../assets/myticket.svg">
                    My Ticket
              </span>
          </div>
      </div>
    </div>
    <div class="rightbar" [ngClass]="{ 'col-sm-10': sidebar == true, 'col-sm-12': sidebar == false}">      
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
          <div class="menu-container" (click)="toggle()">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
          </div>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Hi Tunggal
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <label>
                      role : <span>Bussines Owner</span>
                    </label>
                    <div (click)="onLogout()" class="button-logout">Logout</div>
                </div>
              </li>
            </ul>
          </div>
      </nav>
      <div class="container-fluid">
          <router-outlet></router-outlet>
      </div>
    </div>
</div>

